
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center;    /* 수평 가운데 정렬 */
    height: 100vh;          /* 전체 화면 높이 사용 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    padding: 20px; /* 내부 여백 설정 */
    color:white;
    margin-top: -150px; /* 수직 중앙에서 조금 위로 이동 */
    color: #f5deb3;
}

.main-container h1 {
    margin: 0;
    font-size: 4rem; /* 폰트 크기 설정 */
}

.main-container h3 {
    margin: 10px 0 0; /* 위쪽 여백만 설정 */
    font-size: 2rem; /* 폰트 크기 설정 */
}