.profile-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #6c5ce7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 48px;
    margin: 0 auto;
}

.profile-info {
    text-align: center;
    margin-top: 20px;
}

.rank-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #56F569;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-card {
    position: relative;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 50px;
}

.voteList-preview-img{
    width: 50px;
    height: auto;
  }

  .vote-list {
    list-style: none;
    padding: 0;
  }
  .vote-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .vote-info {
    display: flex;
    align-items: center;
  }
  .vote-number {
    font-size: 18px;
    margin-right: 10px;
  }
  .vote-name {
    font-size: 16px;
    margin-right: 10px;
  }
  .vote{
    background-color: #f9f9f9;
      border: none;
      outline: none; 
      padding: 10px; 
      font-size: 18px;
  }
  
  .vote:focus{
    outline:none;
  }

  .vote-header{
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }

  .qr-info{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-top: 20px; 
}

.QR {
    margin-bottom: 10px; /* QR 코드와 URL 간의 간격 조정 */
}

.url {
    font-size: 14px;
    color: #333;
    text-align: center; /* URL을 중앙 정렬 */
}
.qr-gif{
  width:10%;
}