<div class="modal fade" id="candidateModal" tabindex="-1" aria-labelledby="candidateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <h5 class="modal-title" id="candidateModalLabel">후보자 정보</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-3">
                    <div class="candidate-body">
                        <div class="candidate-title" id="candidate-num"></div>
                        <img src="/imgs/vote3.jpg" class="profile-pic" alt="후보자 사진">
                        <div class="profile-details">
                          <p class="mt-3 profile-name">
                            <span class="icon"></span><strong>이름:</strong> 사자
                        </p>
                        <p class="profile-age">
                            <span class="icon"></span><strong>나이:</strong> 2017
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="candidate-title">후보자 정보 및 공약</div>
                    <div class="candidate-modal-info">
                        <div class="scrollable-div profile-desc"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
