<%- include('../partials/header') %>
  <div class="custom-container active">
    <h1>투표가 완료되어 개표 중 입니다!</h1>
    <p>대략 5~10분이 소요됩니다.</p>
    <p>이후에 다시 시도해주세요.</p>
  </div>
<%- include('../partials/footer') %>