<%- include('../partials/header') %>
<% const roomName = name%>
<% const roomDate = sDate%>
  <div class="custom-container active">
    <h1>투표 시작 전 입니다!</h1>
    <h3><%= roomName %>은 <%= roomDate%>이후에 투표가능합니다. </h3>
    <h3>이후에 다시 시도해주세요.</h3>
  </div>
<%- include('../partials/footer') %>