.room-image{
    width: 85%;
    height: auto;
}
.room-card {
    border: none;
}
.room-card-header {
    background-color: #f8f9fa;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}
.room-card-body {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.card-body {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.room-card-body-img{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.room-info{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.gif{
    width: 70%;
}
.state-badge{
    width: 70%;
}
.state-badge-container{
    display: flex;
    justify-content: center; 
    align-items: center;
}
.room-candidate-img {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    object-fit: cover;
    margin-right: 15px;
    margin-left:30px;
}
.room-candidate-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 100%;
    border: none;
}
.candidate-item:last-child {
    margin-bottom: 0;
}
.btn-custom {
    background-color: #f5f7ff;
    color: #495057;
    font-weight: bold;
}
.btn-custom:hover {
    background-color: #e1e6ff;
    color: #333;
}
.btn-vote-start {
    background-color: #f1f3ff;
    color: #007bff;
}
.btn-vote-start:hover {
    background-color: #e0e7ff;
    color: #0056b3;
}
.details-toggle {
    color: #6c757d;
    cursor: pointer;
}
.scrollable-div{
    overflow: auto;
    height: 400px;
}
.candidate-header {
    background-color: #E93B81;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.candidate-modal-info {
    background-color: #F4F5FA;
    border-radius: 10px;
    padding: 20px;
    height: auto;
}
.candidate-modal-info div {
    margin: 20px;
}
.candidate-title {
    color: white;
    width: 100%;
    height: 50px;
    font-size: 25px;
    background-color: #01514C;
    border-radius: 10px;
    text-align: center;
    line-height: 50px; /* 텍스트 수직 정렬 */
}
.candidate-body {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    width: 100%;
}
.profile-pic {
    width: 100%;
    border-radius: 10px;
    height: auto;
    background-color: #F4F5FA;
    object-fit: cover;
}
#candidateModalLabel {
    font-weight: bold;
    font-size: 25px;
}
.profile-details {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
.profile-details p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-details p strong {
    margin-right: 10px;
    color: #01514C;
}
.profile-details .icon {
    margin-right: 5px;
}
#doNotShowAgain{
    display: flex;
    justify-content: flex-end;
    position:relative;
    height: 10px;
    bottom: 0px;
    width: 100%;
}
#doNot-hr{
    margin: 10px 0; 
    width: 100%; 
    margin-top: 5px; 
    margin-bottom: 5px; 
}