<div class="modal fade" id="qrModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="qrModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <h5 class="modal-title" id="qrModalLabel">QR 및 url</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body qr-modal-body">
                <div class="qr-info">
                    <img class="qr-gif" src="/imgs/loading.gif">
                    <span id="info" style="font-size: 50px; font-weight: bold;">connection 생성중...</span>
                </div>
                <div class="qr-container">
                    <div class="QR"></div>
                    <div class="url"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.btn-close').click(function(){
        $('.QR').empty();
        $('.url').empty();
        $('.qr-info').show();
    })
</script>