.cont {
    align-items: center;
    background-color: var(--white);
    background: url("/imgs/vote3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
  }

  .divider {
    border-bottom: 1px solid #080808; /* 선의 두께와 색상을 설정할 수 있습니다. */
    margin: 20px 0; /* 필요에 따라 여백을 조정합니다. */
}
.flex-container {
    display: flex; /* Flexbox 레이아웃 활성화 */
    flex-wrap: nowrap; /* 자식 요소들을 한 줄에 나열 */
}