<%- include('../partials/header') %>
<div class="main-scrollable-div">
    <div class="cont ">
        <div class="main-container">
            <h1 ">DIDI</h1>
            <h3 ">VC를 이용한 블록체인 투표 시스템</h3>
        </div>
    </div>
</div>

<script type="module" src="/scripts/main.js"></script>
<%- include('../partials/footer') %>